body { 
    background-color: #E9E9E9;
    font-family: 'lato',sans-serif;
}

.top-buffer { 
    margin-top:30px;
    margin-bottom: 30px;
}

.fade-in-image { 
    animation: fadeIn 5s;
     }

.margin {
    margin-left: 0px;
    margin-right: 100px;
}

.card{
    padding: 2em 2em 2em;
    box-shadow: 0 1px 1px #000000;
}

.card-header{
    font-weight: 700;
    font-size: 1.5em;
}

.nav-link {
    color: #FFA3F3 !important;
    }
