body { 
    background-color: #E9E9E9;
    font-family: 'lato',sans-serif;
}

.top-buffer { 
    margin-top:50px;

     }

.margin {
    margin-left: 5px;
    margin-right: 100px;
}

.card{
    padding: 2em 2em 2em;
    box-shadow: 0 1px 10px #FCE5F9;
}

.card-header{
    font-weight: 700;
    font-size: 1.5em;
}

.nav-link {
    color: #FFA3F3 !important;
    }